# -- Autotools stuff -----------------
.deps
.libs
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
Makefile
Makefile.in
missing
stamp-h1
test-driver
test-suite.log
tests/*
!tests/*.c

# -- Misc built stuff ----------------
AUTHORS
bin
gcov-report.txt
*.db
*.lo
*.la
*.o
*.pc
*.gcda
*.gcno
*.gcov
*.tar.xz

# -- Temp editor files ---------------
*.swp

# -- Log files -----------------------
*.log

# -- Travis config --------------------
.travis.yml

# -- Git files ------------------------
.git?
.gitignore

# -- editorconfig ---------------------
.editorconfig
