# -- Autotools stuff -----------------
.deps
.libs
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
Makefile
Makefile.in
missing
stamp-h1
test-driver
test-suite.log
tests/*
!tests/*.c

# -- Misc built stuff ----------------
AUTHORS
bin
*.db
*.lo
*.la
*.o

# -- Temp editor files ---------------
*.swp
